<div class="flex-l">
{% for post in posts %}

	<article class="hide-child relative w-100 w-33-l pa3">
    <div class="ba b--black-20">
      <img src="{{ post.thumbnail.src }}" class="db" alt="{{ post.post_title }}" />
      <div class="pa3 bt bg-white">
        <h3 class="f1 fw7 mv0 pa3">{{ post.post_title }}</h3>
        <p class="f3 gray mv3 ph3">{{ post.excerpt }}</p>
        <a class="f3 fw6 link tc ph3 pv3 db bg-animate bg-dark-blue hover-bg-blue white br1" href="{{ post.slug }}">Read More</a>
      </div>
    <!-- a class="child absolute top-1 right-1 ba bw1 black-40 grow no-underline br-100 w1 h1 pa2 lh-solid b" href="#">×</a>
	   //Weird floating for lightboxing 
	   -->
    </div>
  </article>

{% endfor %}
</div>